// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #011F3F;
  color: #FEF2BF;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: #FEF2BF
}

.landing {
  min-height: 100vh;
  background-color: #011F3F;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.text-container > h1 {
  font-size: 67px;
  line-height: 1em;
}

.text-container > h2 {
  font-size: 37px;
}

.project-section {
  background-color: white;
  padding: 5vh 0;
  text-align: center;
  color: black;
  justify-content: center;
}

.project-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.buttons > button {
  padding: 5px;
}

.project {
  width: 40%;
  margin: 0 auto;
}

.project > img {
  width: 100%;
  height: auto;
}

footer {
  padding-top: 5vh;
  text-align: center;
}

@media screen and (max-device-width: 900px) {
  .text-container > h1 {
    font-size: 10vw;
    line-height: 1em;
  }

  .text-container > h2 {
    font-size: 6vw;
    line-height: 1em;
  }
  .project {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
  }

  .buttons > button {
    font-size: 4vw;
    background-color: #f1f1f1;
    padding: 0 .5em 0 .5em;
    margin: 0 .5em 0 .5em;
    height: 2em;
  }

  .project-section > h1 {
    font-size: 6vw;
  }

  .desc {
    font-size: 4vw;
    line-height: 1.2em;
  }

  .project > h2 {
    font-size: 6vw;
  }

  .fa-3x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  .fa-2x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  footer {
    font-size: 6vw;
  }
}

@media screen and (max-width: 900px) {
  .text-container > h1 {
    font-size: 10vw;
    line-height: 1em;
  }

  .text-container > h2 {
    font-size: 6vw;
    line-height: 1em;
  }
  .project {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
  }

  .buttons > button {
    font-size: 4vw;
    background-color: #f1f1f1;
    padding: 0 .5em 0 .5em;
    margin: 0 .5em 0 .5em;
    height: 2em;
  }

  .project-section > h1 {
    font-size: 6vw;
  }

  .desc {
    font-size: 4vw;
    line-height: 1.2em;
  }

  .project > h2 {
    font-size: 6vw;
  }

  .fa-3x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  .fa-2x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  footer {
    font-size: 6vw;
  }
}