// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #f6f7f8;
  color: #000;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #45a049;
}

i {
  color: #45a049;
  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.20em);
    color: var(--color);
    transition: 0.25s;
    border-color: var(--hover);
    color: green;
  }
}

img, input {
  &:hover {
    -webkit-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  }
}

.landing {
  min-height: 100vh;
  background-color: #f6f7f8;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow.bounce.link {
  margin: 1.5em;
}

.text-container > h1 {
  font-size: 67px;
  line-height: 1em;
}

.text-container > h2 {
  font-size: 37px;
}

.project-section, .skill-section{
  margin: 2em;
  background-color: #fff;
  padding: 5vh 0;
  text-align: center;
  color: black;
  border-radius: .25rem;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.resume-section{
  margin: 2em;
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: #fff;
  padding: 5vh 0;
  text-align: center;
  color: black;
  border-radius: .25rem;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.skill-list {
  display: flex;
  justify-content: center;
}

.skill > i {
  color: rgb(155, 153, 153);
  padding: 0 25px;
  font-size: 3em;
}

h5 {
  margin: 0;
}

.project-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons > button {
  padding: 0px;
  display: inline-block;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  text-align: center;
  font-size: 2vh;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  &:hover {
    -webkit-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 12px rgba(57,73,76,0.35);
    box-shadow: 0 1px 12px rgba(57,73,76,0.35);
  }
}

.project {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 1vh;
  border-bottom: 1px solid #E0E0E0;
  display: grid;
}

.project > img {
  width: 100%;
  height: auto;
}

footer {
  padding-top: 5vh;
  text-align: center;
}


.devicon-heroku-plain-wordmark:hover{
  color: #6c63c0;
  transition: color 0.5s ease;
}
.devicon-ruby-plain-wordmark:hover{
  color: #D91404;
  transition: color 0.25s ease;
}
.devicon-rails-plain-wordmark:hover{
  color: #A62C46;
  transition: color 0.5s ease;
}
.devicon-mysql-plain-wordmark:hover{
  color: #00618A;
  transition: color 0.5s ease;
}
.devicon-postgresql-plain-wordmark:hover{
  color: #336791;
  transition: color 0.5s ease;
}
.devicon-html5-plain-wordmark:hover{
  color: #E54D26;
  transition: color 0.5s ease;
}
.devicon-css3-plain-wordmark:hover{
  color: #3D8FC6;
  transition: color 0.5s ease;
}
.devicon-bootstrap-plain-wordmark:hover{
  color: #59407F;
  transition: color 0.5s ease;
}
.devicon-sass-original:hover{
  color: #C69;
  transition: color 0.5s ease;
}


@media screen and (max-device-width: 900px) {

  .project-section {
    margin: 0;
  }

  .text-container > h1 {
    font-size: 10vw;
    line-height: 1em;
  }

  .text-container > h2 {
    font-size: 6vw;
    line-height: 1em;
  }
  .project {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }

  .desc {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .buttons > button {
    font-size: 2rem;
    margin: 0 .5em 0 .5em;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
  }

  .project-list {
    width: 100%;
  }
  .project-section > h1 {
    margin: 2em;
    font-size: 6vw;
  }

  .desc {
    font-size: 4vw;
    line-height: 1.2em;
  }

  .project > h2 {
    font-size: 6vw;
    line-height: 1.2em;
    color: #45a049;
  }

  .fa-3x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  .fa-2x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  footer {
    font-size: 6vw;
  }
}

@media screen and (max-width: 900px) {

  .text-container > h1 {
    font-size: 10vw;
    line-height: 1em;
  }

  .text-container > h2 {
    font-size: 6vw;
    line-height: 1em;
  }
  .project {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }

  .buttons > button {
    font-size: 4vw;
    margin: 0 .5em 0 .5em;
    height: 8vh;
    width: 8vh;
  }

  .project-section > h1 {
    font-size: 6vw;
  }

  .desc {
    font-size: 4vw;
    line-height: 1.2em;
  }

  .project > h2 {
    font-size: 6vw;
    line-height: 1.2em;
    color: #45a049;
  }

  .fa-3x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  .fa-2x {
    font-size: 10vw !important;
    padding: 0 .3em 0 .3em;
  }

  footer {
    font-size: 6vw;
  }
}