// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #011F3F;
  color: #FEF2BF;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: #FEF2BF
}

.landing {
  min-height: 100vh;
  background-color: #011F3F;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.text-container > h1 {
  font-size: 67px;
}

.text-container > h2 {
  font-size: 37px;
}

.project-section {
  background-color: white;
  padding: 5vh 0;
  text-align: center;
  color: black;
}

.project-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.project-list > .project > p > button {
  padding: 5px;
}

.project {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

.project > img {
  width: 100%;
  height: auto;
}

footer {
  padding-top: 5vh;
  text-align: center;
}

@media screen and (min-width:900px) {
  .project {
    width: 40%;
  }
}