// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 2em;
  line-height: 1.8em;
}

td {
  padding: .7em;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color:#fff;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f9f9f9;}

.description {
  display: grid;
}

input[type=submit] {
  width: 20vh;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

 .form-container {
   display: flex;
   justify-content: center;
  }

.form {
  width: 75vh;
  border-radius: .25rem;
  background-color: #fff;
  padding: 2vh;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);

  input[type=text], select {
    background-color: #f9f9f9;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    overflow: auto;
    background-color: #f9f9f9;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

}