// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 2em;
  line-height: 1.8em;
}

td {
  padding: .7em;
}